<!-- findPwdModal -->
<div class="modal fade" id="findPwdModal" tabindex="-1" role="dialog" aria-labelledby="findPwdModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="findPwdModalLabel">비밀번호 찾기</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/findPwd" name="findPwd_fm">
                    <div class="form-group">
                        <label for="id">가입하신 아이디(이메일)을 입력해주세요.</label>
                        <input type="email" class="form-control" name="id" placeholder="아이디(이메일)">
                    </div>
                    <input type="submit" class="btn btn-primary form-control" value="비밀번호 찾기">
                </form>
            </div>
        </div>
    </div>
</div>
<script src="js/findPwd.js"></script>
