<!-- findIdModal -->
<div class="modal fade" id="findIdModal" tabindex="-1" role="dialog" aria-labelledby="findIdModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="findIdModalLabel">아이디 찾기</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form name="findID_fm">
                    <div class="form-group">
                        <label for="name">이름</label>
                        <input type="text" class="form-control" name="name" placeholder="ex) 홍길동">
                    </div>
                    <div class="form-group">
                        <label for="tel">핸드폰 번호</label>
                        <input type="tel" class="form-control" name="tel" placeholder="ex) 01012345678"
                        onKeyPress="if ((event.keyCode<46)||(event.keyCode>57)||(event.keyCode==47)) event.returnValue=false;">
                    </div>
                    <input type="submit" class="btn btn-primary form-control" value="아이디 찾기">
                </form>
            </div>
        </div>
    </div>
</div>
<script src="js/findID.js"></script>
