<!-- findIdModal -->
<div class="modal fade" id="findIdModal" tabindex="-1" role="dialog" aria-labelledby="findIdModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="findIdModalLabel">아이디 찾기</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/findID" name="findID_fm">
                    <div class="form-group">
                        <label class="sr-only" for="search-name">이름</label>
                        <input type="text" class="form-control" name="name" id="search-name" placeholder="이름">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="search-tel">핸드폰 번호</label>
                        <input type="text" class="form-control" name="tel" id="search-tel" placeholder="핸드폰 번호">
                    </div>
                    <button type="submit" class="btn btn-primary form-control">아이디 찾기</button>
                </form>
            </div>
        </div>
    </div>
</div>
