<!DOCTYPE html>
<html>
  <head>
    <!-- <% include ../header.ejs %> -->
    <script type="text/javascript" src="js/register.js"></script>
  </head>
  <body>
    <h1>회원가입</h1>
    <form method="post" action="/register" id="register_fm" name="register_fm">
    <dl>
      <dt>userName</dt>
      <dd><input type="text" name="name" id="name" /></dd>
      <dt>userID</dt>
      <dd><input type="text" name="id" id="id" /></dd>
      <dt>userPassword</dt>
      <dd><input type="password" name="password" id="password" /></dd>
      <dt>userpasswordch</dt>
      <dd><input type="password" name="passwordch" id="passwordCh" /></dd>
      <dt>userTel</dt>
      <dd><input type="text" name="tel" id="u_tel" /></dd>
      <p><input type="button" value="sign up" onclick="dosubmit()" /></p>
    </dl>
  </form>


  </body>
</html>
