<!-- registerModal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="registerModalLabel">회원가입 하기</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/register" name="register_fm">
          <div class="form-group">
            <label class="sr-only" for="reg-name">이름</label>
            <input type="text" class="form-control" id="reg-name" name="name" placeholder="이름">
          </div>
          <div class="form-group">
            <label class="sr-only" for="reg-email">아이디</label>
            <input type="email" class="form-control" id="reg-email" name="id" placeholder="아이디(이메일)">
          </div>
          <div class="form-group">
            <label class="sr-only" for="reg-password">비밀번호</label>
            <input type="password" class="form-control" id="reg-password" name="password" placeholder="비밀번호">
          </div>
          <div class="form-group">
            <label class="sr-only" for="reg-passwordCh">비밀번호 확인</label>
            <input type="password" class="form-control" id="reg-passwordCh" name="passwordCh" placeholder="비밀번호 확인">
          </div>
          <div class="form-group">
            <label class="sr-only" for="reg-tel">핸드폰 번호</label>
            <input type="text" class="form-control" id="reg-tel" name="tel" placeholder="핸드폰 번호">
          </div>
          <div class="info-user">
            <div class="agree-checkbox">
              <label>
                <input type="checkbox"> 이용 약관 동의
              </label>
            </div>
            <ul class="show-agree">
              <li>
                <a href="#" class="">자세히 보기</a>
              </li>
            </ul>
          </div>

          <button type="submit" class="btn btn-primary form-control">회원가입</button>
        </form>
      </div>
    </div>
  </div>
</div>
