<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
<head>
    <% include ../config/header0.ejs %>
</head>
<body>
<div id="page-container" class="sidebar-l side-scroll header-navbar-fixed">
    <!-- Header -->
    <header id="header-navbar">
        <div class="content-mini content-mini-full content-boxed">
            <!-- Header Navigation Right -->
            <ul class="nav-header pull-right">
                <li>
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-sign-out"></i>
                        <span>로그아웃</span>
                    </button>
                </li>
            </ul>
            <!-- END Header Navigation Right -->

            <!-- Header Navigation Left -->
            <ul class="nav-header pull-left">
                <li class="a-logo col-xs-2 col-sm-3">
                    <a href="/auction">
                        <img src="img/logo_admin.png">
                    </a>
                </li>
            </ul>
            <!-- END Header Navigation Left -->
        </div>
    </header>
    <!-- END Header -->

    <!-- Main Container -->
    <main id="main-container">
        <!-- Sub Header -->
        <div class="bg-gray-lighter visible-xs">
            <div class="content-mini content-boxed">
                <button class="btn btn-block btn-default visible-xs push" data-toggle="collapse" data-target="#sub-header-nav">
                    <i class="fa fa-navicon push-5-r"></i>Menu
                </button>
            </div>
        </div>

        <div class="bg-primary-lighter collapse navbar-collapse remove-padding" id="sub-header-nav">
            <div class="content-mini content-boxed">
                <ul class="nav-menu-btn nav nav-pills nav-sub-header push">
                    <li>
                        <a href="/admin">
                            <i class="fa fa-briefcase push-5-r"></i>Auctions
                        </a>
                    </li>
                    <li>
                        <a href="/admin/users">
                            <i class="fa fa-users push-5-r"></i>Customers
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END Sub Header -->
        <!-- Page Content -->
        <div class="content content-boxed">
            <!-- Section -->
            <div class="bg-image img-rounded overflow-hidden push" style="background-image: url('img/photo25@2x.jpg');">
                <div class="bg-black-op">
                    <div class="content">
                        <div class="block block-transparent block-themed text-center">
                            <div class="block-content">
                                <h1 class="h1 font-w700 text-white animated fadeInDown push-5">Products</h1>
                                <h2 class="h4 font-w400 text-white-op animated fadeInUp">There are currently 8 products in your portfolio.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Section -->

            <!-- Stats -->
            <div class="row text-uppercase">
                <div class="col-xs-6 col-sm-3">
                    <div class="block block-rounded">
                        <div class="block-content block-content-full">
                            <div class="font-s12 font-w700">Products</div>
                            <a class="h2 font-w300 text-primary" href="javascript:void(0)">8</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="block block-rounded">
                        <div class="block-content block-content-full">
                            <div class="font-s12 font-w700">Tickets</div>
                            <a class="h2 font-w300 text-primary" href="javascript:void(0)">390</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="block block-rounded">
                        <div class="block-content block-content-full">
                            <div class="font-s12 font-w700">Purchases</div>
                            <a class="h2 font-w300 text-primary" href="javascript:void(0)">63000</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="block block-rounded">
                        <div class="block-content block-content-full">
                            <div class="font-s12 font-w700">Earnings</div>
                            <a class="h2 font-w300 text-primary" href="javascript:void(0)">$ 980600</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Stats -->

            <!-- Products -->
            <div class="block block-rounded">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button"><i class="fa fa-plus"></i> Add new</button>
                        </li>
                        <li>
                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Products</h3>
                </div>
                <div class="block-content">
                    <div class="table-responsive">
                        <table class="table table-hover table-vcenter">
                            <tbody>
                            <tr>
                                <td class="text-center hidden-sm hidden-xs" style="width: 200px;">
                                    <div style="width: 180px;">
                                        <img class="img-responsive" src="assets/img/various/ecom_product10.png" alt="">
                                    </div>
                                </td>
                                <td>
                                    <h4>경매 제목옥옥옥옥옥</h4>
                                    <p class="remove-margin-b">경매 분류우루루루 ...</p>
                                    <a class="font-w600" href="javascript:void(0)">판매자 아이디</a>
                                    <p class="remove-margin-b hidden-sm hidden-md hidden-lg">마감 날짜 : <span class="text-gray-dark">2017/10/02</span></p>
                                </td>
                                <td class="hidden-xs">
                                    <p class="remove-margin-b">시작가 : <span class="text-gray-dark">1000</span></p>
                                    <p class="remove-margin-b">입찰가 : <span class="text-gray-dark">34000원</span></p>
                                    <p class="remove-margin-b">입찰 횟수 : <span class="text-gray-dark">200회</span></p>
                                    <p class="remove-margin-b">낙찰자 : <a class="font-w600">여신챙챙</a></p>
                                    <p class="remove-margin-b">마감 날짜 : <span class="text-gray-dark">2017/10/02</span></p>
                                </td>
                                <td class="text-center">
                                    <span class="h1 font-w700 text-success">상태</span>
                                    <p></p>
                                    <button class="btn btn-xs btn-default" type="button">
                                        <i class="fa fa-eye push-5-r text-primary"></i><spans class="hidden-xs">자세히</spans>
                                    </button>
                                    <button class="btn btn-xs btn-default" type="button">
                                        <i class="fa fa-times push-5-r text-danger"></i><spans class="hidden-xs">삭제</spans>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center hidden-sm hidden-xs" style="width: 200px;">
                                    <div style="width: 180px;">
                                        <img class="img-responsive" src="assets/img/various/ecom_product10.png" alt="">
                                    </div>
                                </td>
                                <td>
                                    <h4>경매 제목옥옥옥옥옥</h4>
                                    <p class="remove-margin-b">경매 분류우루루루 ...</p>
                                    <a class="font-w600" href="javascript:void(0)">판매자 아이디</a>
                                    <p class="remove-margin-b hidden-sm hidden-md hidden-lg">마감 날짜 : <span class="text-gray-dark">2017/10/02</span></p>
                                </td>
                                <td class="hidden-xs">
                                    <p class="remove-margin-b">시작가 : <span class="text-gray-dark">1000</span></p>
                                    <p class="remove-margin-b">입찰가 : <span class="text-gray-dark">34000원</span></p>
                                    <p class="remove-margin-b">입찰 횟수 : <span class="text-gray-dark">200회</span></p>
                                    <p class="remove-margin-b">낙찰자 : <a class="font-w600">여신챙챙</a></p>
                                    <p class="remove-margin-b">마감 날짜 : <span class="text-gray-dark">2017/10/02</span></p>
                                </td>
                                <td class="text-center">
                                    <span class="h1 font-w700 text-success">상태</span>
                                    <p></p>
                                    <button class="btn btn-xs btn-default" type="button">
                                        <i class="fa fa-eye push-5-r text-primary"></i><spans class="hidden-xs">자세히</spans>
                                    </button>
                                    <button class="btn btn-xs btn-default" type="button">
                                        <i class="fa fa-times push-5-r text-danger"></i><spans class="hidden-xs">삭제</spans>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center hidden-sm hidden-xs" style="width: 200px;">
                                    <div style="width: 180px;">
                                        <img class="img-responsive" src="assets/img/various/ecom_product10.png" alt="">
                                    </div>
                                </td>
                                <td>
                                    <h4>경매 제목옥옥옥옥옥</h4>
                                    <p class="remove-margin-b">경매 분류우루루루 ...</p>
                                    <a class="font-w600" href="javascript:void(0)">판매자 아이디</a>
                                    <p class="remove-margin-b hidden-sm hidden-md hidden-lg">마감 날짜 : <span class="text-gray-dark">2017/10/02</span></p>
                                </td>
                                <td class="hidden-xs">
                                    <p class="remove-margin-b">시작가 : <span class="text-gray-dark">1000</span></p>
                                    <p class="remove-margin-b">입찰가 : <span class="text-gray-dark">34000원</span></p>
                                    <p class="remove-margin-b">입찰 횟수 : <span class="text-gray-dark">200회</span></p>
                                    <p class="remove-margin-b">낙찰자 : <a class="font-w600">여신챙챙</a></p>
                                    <p class="remove-margin-b">마감 날짜 : <span class="text-gray-dark">2017/10/02</span></p>
                                </td>
                                <td class="text-center">
                                    <span class="h1 font-w700 text-success">상태</span>
                                    <p></p>
                                    <button class="btn btn-xs btn-default" type="button">
                                        <i class="fa fa-eye push-5-r text-primary"></i><spans class="hidden-xs">자세히</spans>
                                    </button>
                                    <button class="btn btn-xs btn-default" type="button">
                                        <i class="fa fa-times push-5-r text-danger"></i><spans class="hidden-xs">삭제</spans>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END Products -->
        </div>
        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->
</div>
<!-- END Page Container -->

<% include ../config/footer0.ejs %>

<script src="js/admin.js"></script>
</body>
</html>
