<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
<html>
<head>
</head>
<body>
<button type="button" onclick="location.href='users'">회원 조회</button>

</body>
</html>
