<meta charset="utf-8">
<title>TicketOn</title>

<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

<link rel="shortcut icon" href="img/favicon-32x32.png">
<link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">

<!-- Stylesheets -->
<!-- Web fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

<!-- Bootstrap and OneUI CSS framework -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" id="css-main" href="css/oneui.css">

<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.min.css">

<!-- TicketOn CSS -->
<link rel="stylesheet" id="css-main" href="css/auction.css">
