$a-primary: #7fc7d7 !default;
//$a-primary: #a1cfd9 !default;

$a-gray : #e6ecec !default;

.a-bg-primary {
  background-color: $a-primary !important;
}

.a-bg-gray {
  background-color: $a-gray;
}

.a-logo {
  img {
    display: inline;
    height: 34px;
    float:left
  }
}

.a-nav-menu {
  margin-top: 6px;
  font-size: 1.2em;
  vertical-align: middle;
  a {
    color:white;
    magin-left: 10px;

    i {
      font-size: 1.5em;
      //margin-left: 10px;
    }

    .a-nav-post {
      margin: 0 10px;
    }
    span {
      margin-left: 20px;
    }
  }

  .a-nav-menu-dropdown {
    background-color: #ffffff;

    @media screen and (min-width: 768px) {
      margin-bottom: 4px;
      margin-left: 20px;
    }
    @media screen and (max-width: 768px){
      margin-top: -10px;
      margin-left: 10px;
    }
  }
}

.overflow_contents {
  display: inline-block;
  width: 100%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.inline {
  display: inline;
}

.a-text {
  padding: 16px 10px 12px;
  font-size: 15px;
  font-weight: 600;
}
.a-btn-primary {
  border-radius: 5px;
  height: 46px;
  color: #fff;
  background-color: #609096;
  border-color: #6b8f94;
}

