<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TicketOn</title>

    <!-- Bootstrap core CSS -->
    <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../public/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../public/css/creative.css" rel="stylesheet">
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Ticket On</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>필요 없는 티켓과 구하고 싶은 티켓, 이젠 경매로 사고파세요!</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">티켓온은 본인에게는 필요가 없거나 안쓰는 티켓을 필요한 사람에게 팔 수 있는 경매 방식의 서비스입니다. 경매를 통해 티켓을 원하는 가격선에서 쟁취하세요!</p>
            <a class="btn-radius btn-primary btn-xl js-scroll-trigger" data-toggle="modal" data-target="#loginModal">로그인 하기</a>
            <a class="btn-radius btn-primary btn-xl js-scroll-trigger" data-toggle="modal" data-target="#registerModal">회원가입 하기</a>
          </div>
        </div>
      </div>
    </header>

    <!-- loginModal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="loginModalLabel">로그인 하기</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label class="sr-only" for="log-email">아이디</label>
                <input type="email" class="form-control" id="log-email" placeholder="아이디(이메일)">
              </div>
              <div class="form-group">
                <label class="sr-only" for="log-password">비밀번호</label>
                <input type="password" class="form-control" id="log-password" placeholder="비밀번호">
              </div>
              <button type="submit" class="btn btn-primary form-control">로그인</button>
            </form>
            <div class="info-user">
              <div class="auto-login">
                <label>
                <input type="checkbox"> 자동 로그인
                </label>
              </div>
              <ul class="list_user">
                <li>
                  <a href="#" class="search-user" data-toggle="modal" data-target="#findIdModal">아이디 찾기</a>
                  <span class="txt_bar"></span>
                </li>
                <li>
                  <a href="#" class="search-user" data-toggle="modal" data-target="#findPwdModal">비밀번호 찾기</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- findIdModal -->
    <div class="modal fade" id="findIdModal" tabindex="-1" role="dialog" aria-labelledby="findIdModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="findIdModalLabel">아이디 찾기</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label class="sr-only" for="search-name">이름</label>
                <input type="text" class="form-control" id="search-name" placeholder="이름">
              </div>
              <div class="form-group">
                <label class="sr-only" for="search-phone">핸드폰 번호</label>
                <input type="text" class="form-control" id="search-phone" placeholder="핸드폰 번호">
              </div>
              <button type="submit" class="btn btn-primary form-control">아이디 찾기</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- findPwdModal -->
    <div class="modal fade" id="findPwdModal" tabindex="-1" role="dialog" aria-labelledby="findPwdModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="findPwdModalLabel">비밀번호 찾기</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="search-email">가입하신 아이디(이메일)을 입력해주세요.</label>
                <input type="email" class="form-control" id="search-email" placeholder="아이디(이메일)">
              </div>
              <button type="submit" class="btn btn-primary form-control">비밀번호 찾기</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- registerModal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="registerModalLabel">회원가입 하기</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label class="sr-only" for="reg-name">이름</label>
                <input type="text" class="form-control" id="reg-name" placeholder="이름">
              </div>
              <div class="form-group">
                <label class="sr-only" for="reg-email">아이디</label>
                <input type="email" class="form-control" id="reg-email" placeholder="아이디(이메일)">
              </div>
              <div class="form-group">
                <label class="sr-only" for="reg-password1">비밀번호</label>
                <input type="password" class="form-control" id="reg-password1" placeholder="비밀번호">
              </div>
              <div class="form-group">
                <label class="sr-only" for="reg-password2">비밀번호 확인</label>
                <input type="password" class="form-control" id="reg-password2" placeholder="비밀번호 확인">
              </div>
              <div class="form-group">
                <label class="sr-only" for="reg-phone">핸드폰 번호</label>
                <input type="text" class="form-control" id="reg-phone" placeholder="핸드폰 번호">
              </div>
              <div class="info-user">
                <div class="agree-checkbox">
                  <label>
                    <input type="checkbox"> 이용 약관 동의
                  </label>
                </div>
                <ul class="show-agree">
                  <li>
                    <a href="#" class="">자세히 보기</a>
                  </li>
                </ul>
              </div>

              <button type="submit" class="btn btn-primary form-control">회원가입</button>
            </form>
          </div>
        </div>
      </div>
    </div>



    <!-- Bootstrap core JavaScript -->
    <script src="../public/vendor/jquery/jquery.min.js"></script>
    <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../public/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../public/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="../public/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../public/js/creative.min.js"></script>

  </body>

</html>
