<!DOCTYPE html>
<html>
<head>
    <% include ../config/header.ejs %>
</head>
<body>
    <% include ../config/nav.ejs %>
    <div class="container-fluid">
        <div class="row mx-auto my-3">

        </div>
    </div>
    <% include ../config/footer.ejs %>
</body>
</html>
