<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
<html>
<head>
    <% include ../config/header.ejs %>
</head>
<body>
    <% include ../config/nav.ejs %>
    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <form method="post" action="/mypage/changeInfo">
                <input type="hidden" name="uid" value="<%= user.uid %>"/>
                <div class="row mx-auto my-3">
                    <div class="col-md-2">이름</div>
                    <div class="col-md-4"><%= user.u_name %></div>
                </div>
                <div class="row mx-auto my-3">
                    <div class="col-md-2">아이디</div>
                    <div class="col-md-4"><%= user.u_id %></div>
                </div>
                <div class="row mx-auto my-3">
                    <div class="col-md-2">전화번호</div>
                    <div class="col-md-4"><input type="text" name="tel" value="<%= user.u_tel %>"/></div>
                </div>
                <div class="row mx-auto my-3">
                    <div class="mx-auto">
                        <input type="submit" class="btn btn-primary" value="변경">
                    </div>
                </div>
            </form>
        </div>
    </header>
    <% include ../config/footer.ejs %>
</body>
</html>
