<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
<html>
<head>
    <% include ./config/header.ejs %>
</head>
<body>
    <% include ./config/nav.ejs %>
    <div class="container-fluid">
        <div class="row mx-auto my-3">

        </div>
    </div>
    <% include ./config/footer.ejs %>
</body>
</html>
