<!DOCTYPE html>
<html>
  <head>
    <% include ../config/header.ejs %>
  </head>
  <script>
      $(document).ready(function() {
          // setInterval(function() {
              $.get('/auction/time', function(data) {
                  data.forEach(function(element, index) {
                      $(".time").eq(index).text(element);
                  });
              });
          // }, 1000);
      });
  </script>
  <body>
    <% include ../config/nav.ejs %>
    <div class="container-fluid">
      <div class="row my-5 mx-auto">
        <% for (var i = 0; i < auction.length; i++) { %>
          <div class="col-md-3 col-sm-4 col-xs-6 my-5">
            <div class="row m-1 border">
                <div class="col-md-12">
                    <img src="uploads/<%= auction[i].a_img %>" width="100%" alt="">
                </div>
                <div class="col-md-12">
                    <h5 class="text-center my-3"><%= auction[i].a_title %></h5>
                </div>
                <% var curPrice = auction[i].a_min_price;
                  for (var j = 0; j < bid.length; j++) {
                    if (bid[j].a_id == auction[i].a_id) {
                        curPrice = bid[j].b_price;
                    }
                  } %>
                <div class="col-md-4 text-warning">입찰가</div>
                <div class="col-md-5 mr-auto"><%= curPrice %></div>
                <div class="col-md-4 text-danger">남은시간</div>
                <div class="time col-md-5 mr-auto">00:00:00</div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
